<!DOCTYPE html>
<html>
  <head>
    <title>Kunden</title>
    <meta name="viewport" content="width=device-width,initial-scale=2">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen flex flex-col">
    <%= render 'partials/flash' %>
    <main class="container mx-auto mt-7 md:mt-28 px-8 sm:px-12 lg:px-28 flex">
      <%= yield %>
    </main>
    <footer class="mt-auto px-11 py-4 bg-orange-200  flex flex-col md:flex-row justify-center items-center gap-8 bg-gradient-to-br from-indigo-300 to-purple-400">
      <%= link_to "https://github.com/divagueame/kunden", class:"bg-white py0 px-8 rounded flex shadow gap-8 items-center bg-opacity-80 hover:bg-opacity-100" do %>
        Martin Arce 2024
        <%= inline_svg_tag "icons/github.svg", class: "w-5 h-6" %>
      <% end %>
    </footer>
  </body>
</html>
